.footer{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 100px;
  background-color: $gray;
  padding: 0 40px;
  @media(max-width: 420px){
    padding: 0 16px;
  }
  &__title{
    color: $white;
  }
}