.item-slider{
  overflow-x: hidden;
}
.slider{
  position: relative;
  width: 600px;
  height: 300px;
  border: 1px solid gray;
  overflow: hidden;
  &__wrap{
    position: absolute;
    top: 0;
    display: flex;
    height: 300px;
  }
  &__img{
    width: 600px;
    height: 300px;
    object-fit: cover;
  }
}
