.slider{
  position: relative;
}
.slider-wrapImg{
  position: absolute;
  top: 0;
  left: 0;
  width: 600px;
  height: 400px;
  overflow: hidden;
  opacity: 0;
  z-index: 1;
  transition: all .3s ease-in-out;
}
.slider-img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.active{
  opacity: 1;
  z-index: 2;
}