//----------settings
@import "./parts/settings/__reset.scss";
@import "./parts/settings/__color.scss";
@import "./parts/settings/__base.scss";

//----------sections
@import "./parts/sections/__header.scss";
@import "./parts/sections/__content.scss";
@import './parts/sections/__table.scss';
@import './parts/sections/__slider.scss';
@import "./parts/sections/__footer.scss";
